*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
	background-color: white;
	font-family: Arial, Verdana, Tahoma;
}

#logo {
    float: right;
    border-radius: 50%;
    max-width: 10%;
    height: auto;
    padding: 10px;
}

#navigationBar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: grey;
}

ul li {
    position: relative;
    margin: 0 20px;
    list-style: none;
    display: inline-block;
    cursor: pointer;
}